/*-------------
  header styles
---------------*/
@media (max-width: 961px) {
  .big-block-trip {
    display: none;
  }
  .small-block-trip {
    display: inherit;
  }
  .subscribe {
    padding-top: 22px;
  }
  .reviews_nav-tabs {
    width: 82%;
    margin: 0 auto;
  }
  .reviews_tab-content {
    text-align: center;
  }
  .reviews_tab-content p {
    width: 90%;
    margin: 0 auto 10px;
  }
  .reviews_form-review {
    display: none;
  }
  .about-us_head {
    width: 90%;
    margin-bottom: 10px;
  }
  .about-us_item {
    margin-bottom: 20px;
    text-align: center;
  }
  .about-us_item h3 {
    font-size: 18px;
    margin: 20px 0;
  }
  .about-us_item p {
    font-size: 14px;
    min-height: 140px;
  }
  .friends_head {
    width: 90%;
    margin-bottom: 10px;
  }
  .friends_item {
    margin-bottom: 20px;
  }
  .friends_item h3 {
    font-size: 16px;
    margin: 20px 0;
  }
  .friends_item p {
    font-size: 13px;
  }
  .map_block h2 {
    font-size: 28px;
    font-weight: normal;
  }
  .map_geolabel h3 {
    font-size: 17px;
  }
  .map_geolabel span,
  .map_geolabel a {
    font-size: 13px;
  }
  .courses_nav-pills li {
    padding-left: 0;
  }
  .courses_item {
    display: none;
  }
  .courses_tablet .courses_item {
    display: inherit;
    margin-bottom: 20px;
  }
  .structure_timeline {
    width: 100%;
  }
  .structure_timeline_block {
    width: 90%;
  }
  .inverse_friends {
    display: none;
  }
  .contact-form-tablet {
    display: inherit;
  }
  .about-us-tablet {
    display: none;
  }
  .map-tablet,
  .vacancy,
  .project-team_tablet {
    display: inherit;
  }
  .no-tablet {
    display: none;
  }
  .project-team_head h2,
  .project-team_head .desc {
    text-align: center;
    font-weight: normal;
  }
  .project-team_head h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .project-team_head p {
    width: 80%;
    margin: 0 auto;
  }
  .project-team_teachers .label {
    display: none;
  }
  .previous-working {
    display: none;
  }
  .questions h4 {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .questions .desc {
    width: 80%;
    margin: 0 auto 25px;
    text-align: center;
  }
}
@media (max-width: 769px) {
  .main-menu .navbar-collapse {
    float: none!important;
  }
  .main-menu .nav li {
    padding: 10px 0px;
  }
  .main-menu .nav li a {
    display: inline-block;
  }
  .main-menu .logo {
    margin-left: 15px;
  }
  .top-menu,
  .small-block-trip,
  .promo-block .nav-tabs,
  .promo-block .tab-content {
    display: none;
  }
  .promo-block {
    padding: 0 0 15px;
    height: auto;
    background: #fff;
  }
  .promo-block h1 {
    font-size: 21px;
  }
  .promo-block .large-text {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }
  .block-trip {
    display: inherit;
    text-align: center;
    padding: 40px 20px;
    min-height: 120px;
    background: #cfcfc5 url(../img/bg-block-trip.jpg);
  }
  .subscribe {
    display: none;
  }
  .near-courses h2 {
    font-size: 22px;
    font-weight: normal;
  }
  .near-courses_all-courses {
    margin-bottom: 30px;
  }
  .reviews {
    display: none;
  }
  .reviews-slider,
  .contact-form {
    display: inherit;
  }
  .learning-system {
    display: none;
  }
  .about-us,
  .friends {
    display: none;
  }
  .map_block {
    padding-top: 20px;
  }
  .map_block p {
    display: none;
  }
  .structure {
    display: none;
  }
  .courses_nav-pills {
    display: none;
  }
  .courses h2 {
    float: none!important;
  }
  .courses a {
    margin-left: 16px;
    margin-bottom: 15px;
    display: inline-block;
    float: none!important;
  }
  .foto-slider {
    display: none;
  }
  .project-team_tablet .col-md-3 {
    padding-left: 20px;
  }
  .project-team_teachers img {
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
  }
  .project-team_teachers .text-block {
    width: 60%;
  }
  .project-team_teachers .name-block {
    width: 70%;
  }
  .project-team_teachers .text-block,
  .project-team_teachers .name-block {
    float: left;
  }
  .btn-only-phone {
    display: block;
    width: 70%;
    margin: 20px auto 10px;
  }
  .custom-panel,
  .questions {
    display: none;
  }
  .no-phone {
    display: none;
  }
  .vacancy p {
    width: 100%;
    font-size: 14px;
  }
  .project-team_head h2,
  .project-team_head .desc {
    text-align: left;
  }
  .project-team_head p {
    width: 100%;
  }
  .project-team_probation {
    padding: 0 20px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
  }
  .project-team_probation .project-team_head h2,
  .project-team_probation .project-team_head .desc {
    text-align: center;
  }
}
