/*-------------
  header styles
---------------*/
@media (max-width: 961px) {
  .big-block-trip {
    display: none;
  }
  .small-block-trip {
    display: inherit;
  }
  .subscribe {
    padding-top: 22px;
  }
}
@media (max-width: 769px) {
  .main-menu .navbar-collapse {
    float: none!important;
  }
  .main-menu .nav li {
    padding: 10px 0px;
  }
  .main-menu .nav li a {
    display: inline-block;
  }
  .main-menu .logo {
    margin-left: 15px;
  }
  .top-menu,
  .small-block-trip,
  .promo-block .nav-tabs,
  .promo-block .tab-content {
    display: none;
  }
  .promo-block {
    padding: 0 0 15px;
    height: auto;
    background: #fff;
  }
  .promo-block h1 {
    font-size: 21px;
  }
  .promo-block .large-text {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
  }
  .block-trip {
    display: inherit;
    text-align: center;
    padding: 40px 20px;
    min-height: 120px;
    background: #cfcfc5 url(../img/bg-block-trip.jpg);
  }
  .subscribe {
    display: none;
  }
  .near-courses h2 {
    font-size: 22px;
    font-weight: normal;
  }
  .near-courses_all-courses {
    margin-bottom: 30px;
  }
}
