/*-------------
  header styles
---------------*/ 

// планшет
@media (max-width: 961px){
	.big-block-trip{ display: none; }
	.small-block-trip{ display: inherit; }
	.subscribe{ padding-top: 22px; }
	.reviews{
		&_nav-tabs{
			width: 82%;
			margin: 0 auto;
		}
		&_tab-content{ 
			text-align: center;
			p{ 
				width: 90%; 
				margin: 0 auto 10px;
			} 
		}
		&_form-review{ display: none; }
	}
	.about-us{
		&_head{ 
			width: 90%; 
			margin-bottom: 10px;
		}
		&_item{
			margin-bottom: 20px;
			text-align: center;
			h3{ 
				font-size: 18px;
				margin: 20px 0; 
			}
			p{ 
				font-size: 14px;
				min-height: 140px; 
			}
		}
	}
	.friends{
		&_head{ 
			width: 90%; 
			margin-bottom: 10px;
		}
		&_item{
			margin-bottom: 20px;
			h3{ 
				font-size: 16px;
				margin: 20px 0; 
			}
			p{ font-size: 13px;	}
		}
	}
	.map{
		&_block{
			h2{ 
				font-size: 28px;
				font-weight: normal;
			}
		}
		&_geolabel{
			h3{ font-size: 17px; }
			span, a{ font-size: 13px; }
		}
	}
	.courses_nav-pills li{ padding-left: 0; }
	.courses_item{ display: none; }
	.courses_tablet	.courses_item{ display: inherit; margin-bottom: 20px; }
	.structure{
		&_timeline{
			width: 100%;
			&_block{
				width: 90%;
			}
		}
	}
	.inverse_friends{ display: none; }
	.contact-form-tablet{ display: inherit; }
	.about-us-tablet{ display: none; }
	.map-tablet, .sub-head_vacancy, .project-team_tablet{ display: inherit; }
	.no-tablet{ display: none; }
	.project-team_head{
		h2, .desc{
			text-align: center;
			font-weight: normal;
		}
		h2{ 
			font-size: 24px; 
			margin-bottom: 15px;
		}
		p{
			width: 80%;
			margin: 0 auto;
		}
	}
	.project-team_teachers{
		.label{ display: none; }
	}
	.previous-working{ display: none; }
	.questions{
		h4{
			font-size: 24px;
			text-align: center;
			font-weight: normal;
			margin-bottom: 10px;
		}
		.desc{
			width: 80%;
			margin: 0 auto 25px;
			text-align: center;
		}
	}
	.vacancy_sub-head{
		padding: 40px 0 30px;
		text-align: center;
		.breadcrumbs{ display: none; }
		strong{ display: none; }
		p.desc{
			width: 80%;
			font-weight: normal;
			margin: 0 auto 40px;
		}
	}
}


// телефон
@media (max-width: 769px){
	.main-menu{
		.navbar-collapse{ float: none!important; }
		.nav{
			li{
				padding: 10px 0px;
				a{ display: inline-block; }
			}
		}
		.logo{ margin-left: 15px; }
	}
	.top-menu, .small-block-trip,
	.promo-block .nav-tabs, .promo-block .tab-content{ 
		display: none; 
	}
	.promo-block{
		padding: 0 0 15px;
		height: auto;
		background: #fff;
		h1{ font-size: 21px; }
		.large-text{ 
			margin: 10px 0;
			font-size: 14px; 
			line-height: 20px;
			font-weight: normal;
		}
	}
	.block-trip{
		display: inherit;
		text-align: center;
		padding: 40px 20px;
		min-height: 120px;
		background: #cfcfc5 url(../img/bg-block-trip.jpg);
	}
	.subscribe{ display: none; }
	.near-courses{
		h2{
			font-size: 22px; 
			font-weight: normal; 
		}
	}
	.near-courses_all-courses{ margin-bottom: 30px; }
	.reviews{ display: none; }
	.reviews-slider, .contact-form{ display: inherit; }
	.learning-system{ display: none; }
	.about-us, .friends{ display: none; }
	.map{
		&_block{
			padding-top: 20px;
			p{ display: none; }
		}
	}
	.structure{ display: none; }
	.courses{
		&_nav-pills{ display: none; }
		h2{ 
			float: none!important; 
		}
		a{ 
			margin-left: 16px;
			margin-bottom: 15px;
			display: inline-block;
			float: none!important; 	
		}
	} 
	.foto-slider{ display: none; }
	.project-team_tablet .col-md-3{ padding-left: 20px; }
	.project-team_teachers{
		img{
			width: 100px;
			float: left;
			margin-left: 10px;
			margin-right: 20px;
		}
		.text-block{ width: 60%; }
		.name-block{ width: 70%; }
		.text-block, .name-block{ float: left; }
	}
	.btn-only-phone{
		display: block;
		width: 70%;
		margin: 20px auto 10px;
	}
	.custom-panel, .questions{ display: none; }
	.no-phone{ display: none; }
	.sub-head_vacancy{ 
		p{ width: 100%; font-size: 14px; } 
	}
	.project-team_head{
		h2, .desc{ text-align: left; }
		p{ width: 100%; }
	}
	.project-team_probation{
		padding: 0 20px;
		border: 1px solid #e2e2e2;
		border-radius: 3px;
		.project-team_head{
			h2, .desc{ text-align: center; }
		}
	}
	.item-none{ display: inherit; }
	.vacancy_sub-head .col-sm-4{ width: 33%; margin-top: 20px; }
}






