/*-------------
  header styles
---------------*/ 

@media (max-width: 961px){
	.big-block{ display: none; }
	.small-block{ display: inherit; }
}

@media (max-width: 767px){
	.top-menu{ display: none; }
	.main-menu{
		.navbar-collapse{ float: none!important; }
		.nav{
			li{
				padding: 10px 0px;
				a{ display: inline-block; }
			}
		}
		.logo{ margin-left: 15px; }
	}
	.small-block{ display: none; }
}






