h1, p, a{
	font-family: 'PT Sans', sans-serif;
}


/*-------------
  header styles
---------------*/ 

/* Кастомизация навигации */ 
.navbar{ 
	border: 0;
	border-radius: 0; 
}

/* Верхняя плашка */ 
.top-menu{
	min-height: 30px;
	margin-bottom: 0;
	overflow: hidden;
	background: #272727;
	.nav{
		.telephone{
			color: #dcdcdc;
			font-size: 14px;
			font-weight: bold;
			cursor: default;
			text-decoration: none;
			&:hover{ color: #dcdcdc; }
		}
		li a{
			color: #b4b4b4;
			font-size: 12px;
			padding: 5px;
			margin: 0 10px;
			cursor: pointer;
			text-decoration: underline;
			&:hover{ 
				color: #b4b4b4;
				text-decoration: none; 
			}
		}
		.social-icon{
			margin: 0;
			&:hover{ opacity: 0.8; }
			i{
				font-size: 0;
				width: 17px;
				height: 17px;
				display: block;
			}
			.vk-icon{ background: url(../img/icon-vk.png); }
			.fb-icon{ background: url(../img/icon-fb.png); }
		}
	}
}

/* Котик, совушка и пукан */ 
.animals{ 
	opacity: 0.7;
	height: 30px;
}

/* Главное меню сайта */ 
.main-menu{
	min-height: 75px;
	background: #333a41;
	.navbar-collapse{ padding-right: 0; }
	.logo{ 
		display: block;
		line-height: 75px; 
	}
	.nav{
		li{
			padding: 25px 0;
			margin: 0 17px; 
			&:last-child{ margin-right: 5px; }
			a{ 
				color: #f1f1f1;
				font-size: 16px;
				font-weight: bold;
				margin: 0; padding: 0; 
				border-bottom: 4px solid transparent;
			}
		}
		a:hover, a:focus, li.active a{
			background-color: transparent!important;
			border-color: #ef4b23;
		}
	}
	.navbar-toggle{
		border: 0;
		margin-top: 20px;
		span{ height: 4px; }
	}
}


