
/* -------------------
   Цветовые переменные
  -------------------- */  

@grey-color: #b4b4b4;
@light-grey: #515c66;
@lightgrey-color: #dcdcdc;  
@darkblue-grey: #5e6c79;
@light-blue: #79bcf5;

@darkred-color: #de4722;
@red-color: #f04a22;
@burgundy-color: #8c0000;

@bright-green: #93c41c;


@head-color: #353535;
@h3-head-color: #2f2f2f;
@text-color: #3c3c3c;
@light-text-color: #5f5f5f;

@red-button: #ea5431;


/* --------------
   Общие стили
  --------------- */ 
body{
	font-family: 'PT Sans', sans-serif;
}

/* Типография */
h1{
	color: @darkred-color;
	font-weight: bold;
	font-size: 32px;
}
h2{
	color: @head-color;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
}
p{
	font-size: 13px;
	line-height: 18px;
	color: @text-color;
}
.review-text{
	font-size: 15px;
	line-height: 20px;
	font-style: italic;
}
article h4{
	font-size: 18px;
	font-weight: bold;
	margin-top: 0;
}
.label{
	font-size: 13px; 
	line-height: 15px;
	font-weight: normal;
	white-space: pre-wrap;
	background-color: @red-color;
}
.label-danger{
	background: @red-color;
}

/* Разделительная линия */ 
.separator{
	margin: 20px 0;
	padding-top: 20px;
	position: relative;
	border-bottom: 2px dashed #dfdfdf;
	&.clip:after {
		content: "";
		width: 25px;
		height: 20px;
		display: block;
		position: absolute;
		bottom: -10px;
		background: url(../img/clips.png);
	}
}

/* Стилизация красных ссылок */ 
.link{
	font-size: 13px;
	transition: 0.1s all ease;
	&:hover{ 
		text-decoration: none;
		border-bottom-color: transparent; 
	}
}
.red-link{
	color: @red-color;
	border-bottom: 1px solid @red-color;
	&:hover{ color: @red-color; }
}
.grey-link{
	color: @head-color;
	border-bottom: 1px solid @head-color;
	&:hover{ color: @head-color; }
}	
.link-social{
	color: @red-color;
	padding-left: 3px;
	i{
		width: 13px;
		height: 13px;
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
		background: url(../img/mini-icon-vk.png);
	}
}
.link-site{
	color: @text-color;
}

/* Стили для кнопок */ 
button.btn{
	color: #fff;
	font-size: 16px;
	&:hover, &:active, &:focus{ color: #fff; outline: none; }
}
.btn-danger{ background: @red-button; }
.btn-danger.btn-shadow{
	box-shadow: 0px 3px 0px 0px #ca512f;
}
.btn-primary.btn-shadow{
	box-shadow: 0px 3px 0px 0px #30557b;
}
.btn-grey{ 
	background: @darkblue-grey;
	&:hover, &:active, &:focus{ 
		color: #fff; 
		background: #54616C;
	} 
}
.btn-grey.btn-shadow{
	box-shadow: 0px 3px 0px 0px #3e4853;
}
.btn-green{ 
	background: @bright-green;
	&:hover{ background: #a0d324; } 
}
.btn-green.btn-shadow{
	box-shadow: 0px 3px 0px 0px #7da51b;
}


.btn-black{
	color: #000!important;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid #000;
	background-color: transparent;
}
.icon-arrow{
	padding-right: 30px;
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.icon-arrow-white{
	background-image: url(../img/icon-arrow.png);
	&:focus{ background-image: url(../img/icon-arrow.png); }
	&:hover{ animation: arrow 1s infinite; }
}
.icon-arrow-black{
	background-image: url(../img/icon-arrow-black.png);
	background-position: 92% 50%;
	&:focus{ 
		color: #000;
		background-image: url(../img/icon-arrow-black.png); 
	}
	&:hover{
		color: #000;
		animation: arrow 1s infinite;
	}
}

/* Анимация стрелочки */ 
@keyframes arrow{
  0%{ background-position: 92% 50%; }
  50%{ background-position: 96% 50%; }
  100%{ background-position: 92% 50%; }
}


/* Формы */
form{
	button, input{ outline: none!important; }
	input[type="text"], textarea{ margin: 15px 0; }
	textarea{ resize: vertical; }
	button{ width: 100%; }
}



/* ------------------------------


   INDEX.HTML - главная страница


  ----------------------------- */ 


/* --------------
  header styles
  --------------- */ 

/* Кастомизация навигации */ 
.navbar{ border: 0; border-radius: 0; }

/* Верхняя плашка */ 
.top-menu{
	min-height: 30px;
	margin-bottom: 0;
	overflow: hidden;
	background: #272727;
	.nav{
		.telephone{
			color: @lightgrey-color;
			font-size: 14px;
			font-weight: bold;
			cursor: default;
			text-decoration: none;
			&:hover{ color: @lightgrey-color; }
		}
		li a{
			color: @grey-color;
			font-size: 12px;
			padding: 5px;
			margin: 0 10px;
			cursor: pointer;
			text-decoration: underline;
			&:hover{ 
				color: @grey-color;
				text-decoration: none; 
			}
		}
		.social-icon{
			margin: 0;
			&:hover{ opacity: 0.8; }
			i{
				font-size: 0;
				width: 17px;
				height: 17px;
				display: block;
			}
			.vk-icon{ background: url(../img/icon-vk.png); }
			.fb-icon{ background: url(../img/icon-fb.png); }
		}
	}
}

/* Котик, совушка и пукан */ 
.animals{ 
	opacity: 0.7;
	height: 30px;
	.bird{
		top: 9px;
		left: 12px;
		position: relative;
	}
}

/* Главное меню сайта */ 
.main-menu{
	min-height: 75px;
	background: #333a41;
	margin-bottom: 0;
	.navbar-collapse{ padding-right: 0; }
	.logo{ 
		display: block;
		line-height: 75px; 
	}
	.nav{
		li{
			padding: 25px 0;
			margin: 0 17px; 
			&:last-child{ margin-right: 5px; }
			a{ 
				color: #f1f1f1;
				font-size: 16px;
				// font-weight: bold;
				margin: 0; padding: 0; 
				border-bottom: 4px solid transparent;
			}
		}
		a:hover, a:focus, li.active a{
			background-color: transparent!important;
			border-color: #ef4b23;
		}
	}
	.navbar-toggle{
		border: 0;
		margin-top: 20px;
		span{ height: 4px; }
	}
}


/* --------------------
    promo-block styles
   -------------------- */ 
.promo-block{
	height: 400px;
	padding-top: 25px;
	background: url(../img/bg-promo.jpg) no-repeat top center;
	background-size: cover;
	.large-text{ margin: 30px 0 42px; }
}
.large-text{
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

/* Блок с айпадом */ 
.ipad{
	width: 287px;
	height: 426px;
	position: absolute;
	text-align: center;
	padding: 77px 25px 20px;
	background-image: url(../img/ipad.png);
	background-repeat: no-repeat;
	p{
		color: #fff;
		font-size: 16px;
		line-height: 19px;
		padding: 25px 35px 10px;
	}
}

/* Табы */
.customize-tabs{
	border: 0;
	margin-bottom: 33px;
	li a{
		color: #000;
		padding: 0px;
		font-size: 14px;
		margin-right: 17px;
		position: relative;
		border-bottom: 1px dashed #000;
	}
	li.active > a, li.active > a:hover, li.active > a:focus, li > a:hover{
		outline: none;
		color: @burgundy-color;
		border-color: transparent;
		background-color: transparent;
	}
	li.active a:before{
		content: "";
		width: 15px;
		height: 8px;
		left: 50%;
		bottom: -15px;
		margin-left: -7px;
		position: absolute;
		display: inline-block;
		background: url(../img/icon-arrow-down.png) no-repeat;
	}
}
.customize_tab-content{
	img,p{ 
		display: inline-block;
		vertical-align: middle;
	}
	img{ width: 55px; }
	p{
		width: 75%;
		font-size: 13px;
		line-height: 15px;
		padding-left: 13px;
	}
}

/* Блок с экскурсией для планшета */
.block-trip{ display: none; } 
.small-block-trip{ 
	display: none; 
	padding-top: 25px;
	text-align: center;
	p{
		color: #000;
		font-size: 14px;
		line-height: 18px;
		padding: 10px 6px;
	}
}



/* --------------------
    near-courses styles
   -------------------- */

.near-courses{
	text-align: left;
	padding-top: 10px;
	&_header{ border-bottom: 1px solid @red-color; }
	&_events{ 
		padding-top: 30px; 
		padding-bottom: 30px;
		position: relative;
	}
	&_all-courses{ text-align: center; }
	&_nav-tabs{
		border: 0;
		li{
			width: 100%;
			display: block;
			border: 0;
			position: relative;
			margin-bottom: 20px;
			border: 1px solid #cfcfcf;
			border-radius: 3px;
			a{ color: @text-color; }
			&:hover, &:focus{ border-color: @red-color; }
			&:after{
				content: "";
				width: 13px;
				height: 24px;
				display: block;
				position: absolute;
				top: 50%;
				right: 20px;
				margin-top: -12px;
				background: url(../img/sprite-arrows.png) no-repeat;
			}
			&:hover:after{ background-position: 0px -27px; }
		}
		li.active{
			border: 0;
			border: 1px solid @red-color; 
			background-position: 0px -27px;
			&:after{
				background-position: 0px -27px;
			}
		}
		h3{
			font-size: 15px;
			line-height: 17px;
			margin: 0 0 5px;
			font-weight: bold;
		}
		p{
			font-size: 11px;
			line-height: 15px;
			color: @light-text-color;
		}
		time{
			display: block;
			font-size: 50px;
			color: @red-color;
			font-weight: bold;
			line-height: 20px;
			padding-top: 15px;
			span{ font-size: 16px; }
		}
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover{
		border-color: transparent;
		background: transparent;
	}
	&_tab-content{
		h3{
			font-size: 18px;
			font-weight: bold;
		}
		h3, p{ margin: 0 0 12px; }
		img{ width: 100%; }
	}
	&_links{
		padding: 20px 0;
		.btn{
			font-size: 13px;
			padding: 2px 17px;
			margin-left: 25px;
		}
	}
}

.subscribe{
	text-align: center;
	padding: 55px 0 40px;
}
.icon-email{
	position: relative;
	&:before{
		content: "";
		width: 12px;
		height: 9px;
		position: absolute;
		top: 4px;
		left: -16px;
		background: url(../img/icon-email.png)
	}
}


/* --------------------
    reviews styles
   -------------------- */

.reviews{
	margin-bottom: 20px;
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover{
		border-color: transparent;
		background: transparent;
	}
	&_nav-tabs{
		border: none;
		li{
			padding: 10px 0 15px;
			margin-right: 16px;
			a{ padding: 0; }
			img{
				width: 78px;
				height: 78px;
				border: 3px solid transparent;
				border-radius: 100%;
				padding: 3px;
			}
			&:hover img{ border-color: @red-color; }
		}
		li.active img{ border-color: @red-color; }
	}
	&_tab-content{
		padding-bottom: 20px;
		p.review-text{ padding-left: 3px; }
	}
	&_form-review{
		h2{ margin-bottom: 25px; }
	}
}
.reviews-slider{ 
	display: none; 
	padding-bottom: 30px;
	.carousel-control{
		width: 8px;
		height: 14px;
		display: block;
		top: 5px;
		right: 0;
		left: auto;
		bottom: auto;
		background: url(../img/slider-arrows.png) no-repeat;
	}
	.left { right: 40px; }
	.right{ right: 10px; background-position: 100%;}
}



/* -----------------------
    learning-system styles
   ----------------------*/

.learning-system{
	h2{ text-align: center; }
	&_item{
		margin: 10px 0 20px;
		position: relative;
		img{ width: 100%; }
		.caption{
			color: #fff;
			z-index: 1;
			padding: 2px 9px;
			position: absolute;
			background: @red-color;
			border-radius: 3px;
			bottom: 0px;
			right: 25px;
		}
	}
}


/* -----------------------
    map styles
   ----------------------*/
#map{
	width: 100%;
	height: 420px;
}
.map{
	position: relative;
	margin: 15px 0;
	&_block{
		width: 100%;
		top: 0; left: 0;
		min-height: 420px;
		position: absolute;
		padding-top: 90px;
		z-index: 10;
		background-color: rgba(0,0,0,0.8);
		h2, p{ 
			color: #fff; 
			margin-bottom: 15px;
		}
		h2{ font-size: 32px; }
		p{ width: 50%; }
	}
	&_geolabel{
		background: #fff;
		position: relative;
		border-radius: 3px; 
		padding: 10px 0px 10px 64px;
		margin-bottom: 20px;
		&:before{
			content: "";
			width: 35px;
			height: 50px;
			display: block;
			position: absolute;
			top: 50%; left: 15px;
			margin-top: -25px;
			background: url(../img/geo-label.png) no-repeat;
		}
		h3{
			font-size: 18px;
			margin: 0 0 2px;
			color: @red-color;
			font-weight: bold;		
		}
		span{ 
			display: block;
			margin: 0;
		}
	}
}


/* -----------------------
    about-us styles
   ----------------------*/

.about-us{
	h2{ text-align: center; }
	&_head{
		width: 70%;
		margin: 0 auto 20px;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	}
	&_item{
		margin: 30px 0 60px;
		h3{
			font-size: 20px;
			font-weight: bold;
			margin-top: 0;
		}
		p{
			font-size: 15px;
			min-height: 160px;
		}
		.btn{ font-size: 15px; }
		img{ width: 94px; }
	}
}


/* -----------------------
    friends styles
   ----------------------*/

.friends{
	h2{ text-align: center; }
	&_head{
		width: 70%;
		margin: 0 auto 20px;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
	}
	&_item{
		margin: 30px 0 60px;
		h3{
			font-size: 20px;
			font-weight: bold;
			margin-top: 0;
		}
		p{ font-size: 15px; padding-bottom: 10px; }
		.btn{ font-size: 15px; }
		img{ width: 94px; }
	}
}


/* -----------------------
    contact form styles
   ----------------------*/
.contact-form{
	display: none;
	padding-bottom: 20px;
	h2{
		font-weight: normal;
		margin-bottom: 15px;
	}
	&_personal{
		margin-bottom: 15px;
		p{ 
			font-size: 14px;
			margin: 4px 0; 
		}
		.number span{ color: @light-blue; }
	}
}


/* -----------------------
    footer menu styles
   ----------------------*/

footer.main-menu{
	background: #333a41;
	.nav li a{
		border: none;
		font-weight: normal;
		&:hover{ color: #ccc; }
	}
}



/* ---------------------------------


    COURSES.HTML - страница курсов


  ---------------------------------- */ 

/* Хлебные крошки */ 
.breadcrumbs{
	padding: 20px 0;
	a, p{
		font-size: 13px;
		color: @text-color;
		display: inline-block;
	}
	a:hover{ text-decoration: none; }
	a:after{ content: " → "; }
}

/* Блок с курсами */ 
.courses{
	h2{ 
		margin: 0 0 20px; 
		font-size: 30px;
		font-weight: normal;
	}
	.nav-pills > li.active > a, 
	.nav-pills > li.active > a:hover, 
	.nav-pills > li.active > a:focus,
	.nav-pills > li > a:hover{
		color: @red-color;
		background: transparent;
		border-color: @red-color;
	}
	&_nav-pills{
		li{
			padding-left: 2px;
			a{
				color: @red-color;
				padding: 1px 4px;
				border: 1px solid transparent;
			}
		}
	}
	&_item{
		margin-top: 20px;
		margin-bottom: 40px;
		// border: 1px solid #e8e8e8;
		&_image{ width: 100%; }
		h3{
			margin: 8px 0 15px;
			color: @light-grey;
			font-weight: bold;
		}
		p{ font-size: 15px; }
		.price{
			font-size: 24px;
			font-weight: bold;
			color: @bright-green;
			margin: 0 20px 0 0;
		}
		.price, .link{ 
			padding-top: 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	.main-info{
		margin: 0 0 15px;
		border-radius: 3px;
		padding: 5px 12px;
		display: inline-block;
		border: 1px solid #c7c7c7;
		span{ font-weight: bold; }
	}
	&_tablet{
		.courses_item{ 
			display: none; 
			padding: 20px;
			// border: 1px solid #e8e8e8;
			p{
				color: #656565;
				font-size: 14px;
			}
			.head{
				min-height: 88px;
				margin-bottom: 5px;
				.col-md-9 { padding-left: 0; }
				h3, p{ margin: 0; }
				h3{ font-size: 23px; }
				p{
					font-size: 13px;
					font-weight: bold;
				}
				.date{
					color: #ef4b23;
					font-size: 15px;
				}
			}
			.info{ min-height: 100px; }
			span{
				display: block;
				margin: 0; padding: 0;
				margin-top: -3px;
			}
			.desc{ 
				color: #6b6b6b;
				font-size: 13px;
				margin-top: -7px; 
			}
			.btn-enter{
				width: 100%;
				margin-top: 15px;
			}
			
		}
	}
}

/* -----------------------
    structure courses styles
   ----------------------*/
.structure{
	h2{ 
		margin: 0 0 30px;
		text-align: center; 
	}
	&_timeline{
		width: 85%;
		margin: 0 auto 80px;
		.row{ 
			text-align: center;
			.col-lg-2{ 
				width: 20%; 
				&:nth-child(2) p{ margin-left: -17px; }
				&:nth-child(4) p{ margin-left: 17px; }
			} 
		}
		p{
			font-size: 16px;
			font-weight: bold;
		}
		&_block{
			width: 85%;
			color: #fff;
			height: 18px;
			margin: 0px auto;
			background: #2e363d;
			border-radius: 10px;
			.col-lg-2{
				&:first-child, &:nth-child(2){ text-align: left; }
				&:last-child,  &:nth-child(4){ text-align: right; }
			}
		}
		.step{
			display: inline-block;
			width: 27px;
			height: 12px;
			margin: 3px 5px 0;
			background: #ccc;
			cursor: pointer;
			border-radius: 10px;
			&:hover, &:active, .active{
				background: #f06c4b;
			}
		}
	}
	&_information{
		h3{
			font-size: 20px;
			color: @h3-head-color;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.head{
			color: #ef4b23;
			font-size: 16px;
			font-weight: bold;
			margin-top: 15px;
		}
	}
}

/* -----------------------
    slider of foto styles
   ----------------------*/
.foto-slider{
	text-align: center;
	p{
		font-size: 15px;
		margin-bottom: 20px;
	}
}
.inverse_friends{
	color: #fff;
	margin-bottom: 20px;
	padding-bottom: 40px;
	background: #333a41;
	h2{ color: #fff; }
	p{ color: #e2e2e2; }
	.row{ border: 5px solid #e2e2e2; }
	.friends_item{
		margin: 30px 0;
		padding: 0 28px;
	}
}
/* Карта */ 
.map-tablet{ display: none; }




/* ---------------------------------


    TEACHERS.HTML - страница 
    преподавателей и команды


  ---------------------------------- */ 

/* -----------------------
    подзаголовок страницы
   ----------------------*/

.sub-head{
	min-height: 165px;
	margin-bottom: 10px;
	background: url(../img/sub-head-bg.jpg) no-repeat top center;
	h2{ 
		margin: 0 0 10px;
		font-size: 30px;
		font-weight: normal;
	}
	p.desc{
		font-size: 15px; 
		font-weight: bold; 
	}
	&_nav-pills{
		li a{
			font-size: 15px;
			color: @red-color;
			padding: 3px 10px;
			background: transparent;
		}
		li a:hover, li.active a, li.active a:hover{
			color: #fff;
			background: @red-color;
		}
	}
}
.vacancy{
	display: none;
	text-align: center;
	h2{ margin-top: 35px; }
	p{	
		width: 70%;
		margin: 15px auto 0; 
		font-size: 16px; 
		line-height: 20px;
	}
}

/* -------------------------
    преподаватели и команда
   ------------------------ */

.project-team{
	padding-bottom: 50px;
	&_head{
		margin-top: 30px;
		margin-bottom: 20px;
		h2{ margin: 0; }
		.desc{ 
			font-weight: bold; 
			font-size: 15px;
		}
	}
	&_nav-tabs{
		li{
			position: relative;
			a{ 
				padding-bottom: 5px; 
				background: #fff;
			}
			img{
				padding: 3px;
				border-radius: 100%;
				border: 3px solid transparent;
			}
			p{
				font-size: 13px;
				line-height: 16px;	
				padding-left: 5px;
			}
			.head{
				font-size: 20px;
				font-weight: bold;
				margin: 15px 0 10px;
			}
			&:before{
				content: "";
				width: 11px;
				height: 21px;
				display: block;
				position: absolute;
				top: 50%;
				right: -32px;
				z-index: 2;
				margin-top: -11px;
				display: none;
				background: #fff url(../img/tab-content-arrow.png);
			}
		}

		.col-lg-4, .col-lg-8{ padding: 0; }
		.col-lg-4{ padding-right: 65px; }
		li.active > a, li.active > a:hover, li.active > a:focus, li > a:hover{
			outline: none;
			border-color: transparent;
			background-color: #fff;
		}
		li.active > a .head{ color: @red-color; }  
		li.active > a img, li > a:hover img{
			border: 3px solid @red-color;
		}
		li.active:before{ display: block; }
	}
	&_tab-content{
		padding: 20px 30px;
		border-radius: 3px;
		border: 2px solid #e2e2e2;
		h3{ 
			margin: 0;
			font-size: 20px;
			font-weight: bold; 
		}
		.row img{ width: 100%; }
		p{ margin: 15px 0; }
		a{ 
			margin-right: 30px; 
			border-bottom: none;
		}
		.social{
			a{ margin: 0 3px; }
			a:hover{ opacity: 0.8; }
		}
	}
	&_teachers{
		margin-top: 15px;
		img{ 
			width: 100%; 
			border-radius: 3px;
			margin-bottom: 15px;
		}
		.name{
			font-size: 15px;
			font-weight: bold;
		}
	}
	.custom-panel{
		box-shadow: none;
		p{ 
			font-size: 15px; 
			margin: 0;
		}
	}
}
/* Для отображения на планшете */ 
.project-team_tablet{
	display: none;
	.col-md-3{ padding-left: 0; }
	&_item{
		margin: 0;
		margin-top: 20px;
		.head{
			font-size: 16px;
			font-weight: bold;
			margin: 10px 0 5px;
		}
		.more{
			position: relative;
			top: -10px;
		}
	}
}


/* Кто работал */
.previous-working{
	padding-top: 20px;
	&_item{
		margin-bottom: 15px;
		.head{ 
			font-size: 15px;
			font-weight: bold;  
			margin-bottom: 5px;
		}
	}
} 

/* Частые вопросы */
.questions{
	padding-top: 20px;
	&_panel-group{
		.panel-heading, .panel-default, .panel, .panel-collapse, .panel-body {
			background: transparent;
			border: none!important;
			box-shadow: none!important;
		}
		.panel-heading{
			padding: 2px 0;
			p > a{
				color: @red-color;
				font-size: 15px;
				line-height: 20px;
				border-bottom: 1px dashed @red-color;
				&:hover{
					text-decoration: none;
					border-bottom-color: transparent;
				}
			}
		}
		.panel-body{ padding: 10px 0; }
	}
} 




